[Unit]
Description=Pi SD Offloader for device %i
After=systemd-udevd.service
Wants=systemd-udevd.service

[Service]
Type=oneshot
User=root
Group=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStartPre=/bin/sleep 3
ExecStart=/opt/pi-sd-offloader/sd-card-handler.sh %i
TimeoutStartSec=0
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target